node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vscode
.env
*.env
test.env

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*
install-state.gz

node_modules

fly-secrets*
**/.terraform/
*.tfstate*
tfplan
